#gallerySection{
    img{
        width: 100%;
    }
    .back{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    img:hover{
        opacity: 0.1;
      }
      
    .back:hover{
        opacity: 0.7;
    }
    button{
        display: block;
        border: none;
        background-color: $secondaryColor;
        height: 80px;
        text-transform: uppercase;
        font-size: 14px;
        &:hover{
            background-color: darken($secondaryColor, 10%)
        }
    }

}